/**
* Import variables
*/
@import "./variables/colors";

/**
* MUI > Forms > RJSF
*/
form.rjsf {
    .form-group {
        &.has-danger {
            ul.MuiList-root {
                margin-top: 5px;

                li {
                    padding: 0;
                }
            }
        }
    }
}

/**
* MUI > DataGrid panel (it's outside datagrid div container, so we have to put it here)
*/
.MuiDataGrid-panel {
    form.rjsf {
        > .form-group {
            > .MuiFormControl-root {
                > .MuiGrid-root {
                    margin-top: -16px !important;

                    > .MuiGrid-item {
                        margin-bottom: 0 !important;

                        .select-form-control {
                            width: 163px;
                        }

                        .MuiSvgIcon-root[data-testid="ClearIcon"] {
                            top: 66%;
                            right: -21.43px;
                            width: 21.43px;
                            height: 21.43px;
                            color: rgba(0, 0, 0, 0.54);
                        }
                    }
                }
            }
        }
    }

    .MuiDataGrid-filterFormDeleteIcon {
        top: 2px;
    }
}
